@{ ViewData["Title"] = "Home Page"; }

<div id="ad">
	<div class="inner">
			<div><span class="home-head">&nbsp GLOBAL EVENT &nbsp</span></div>
			<div><span class="home-head"> &nbsp invites you to the PARTY OF THE YEAR &nbsp</span></div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 nopad">
		<div class="section">
			About Event
		</div> 
		<div class="sec-text">
			This New Year’s Eve, Mondrian South Beach is THE incomparable Miami party destination for South Beach’s high-flying revelers. This ultra-luxury hotel presents a brilliantly swanky NYE party that will be going full throttle with an intoxicating atmosphere and South Beach’s renowned extravagance. This New Year’s at Mondrian South Beach is sure to be the talk and toast of the town.
		</div>
	</div>
	<div class="col-md-4 nopad">
		<div class="section">
			Prices
		</div> 
		<div class="sec-text">
			This New Year’s Eve, Mondrian South Beach is THE incomparable Miami party destination for South Beach’s high-flying revelers. This ultra-luxury hotel presents a brilliantly swanky NYE party that will be going full throttle with an intoxicating atmosphere and South Beach’s renowned extravagance. This New Year’s at Mondrian South Beach is sure to be the talk and toast of the town.
		</div>
	</div>
	<div class="col-md-4 nopad">
		<div class="section">
			Where
		</div> 
		<div class="sec-text">
			Sunday, December 31st, 2017 | 8pm - 3am | 21+
			1100 W Ave , Miami Beach FL 33139
		</div>
	</div>
</div>