@{
    ViewData["Title"] = "TODO LIST";
}
<h2>@ViewData["Title"].</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Task</th>
			<th>Owner</th>
			<th>Deadline</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Make TODO List</td>
			<td> Jack</td>
			<td>05/31/2016</td>
			<td>
					<input type="checkbox" value="">
			 </td>
		</tr>

		<tr>
			<td>2</td>
			<td></td>
			<td> Jack</td>
			<td>05/31/2016</td>
			<td>
					<input type="checkbox" value="">
			 </td>
		</tr>

		<tr>
			<td>3</td>
			<td>Make TODO List</td>
			<td> Jack</td>
			<td>05/31/2016</td>
			<td>
					<input type="checkbox" value="">
			 </td>
		</tr>

		<tr>
			<td>4</td>
			<td>Make TODO List</td>
			<td> Jack</td>
			<td>05/31/2016</td>
			<td>
					<input type="checkbox" value="">
			 </td>
		</tr>
	</tbody>
</table>
